{%extends 'base.html'%}
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gallery</title>
  {{ form.media }}
</head>
{% block content %}
{{block.super}}
<style>
  .img-fluid {
    height: 480px;
    width: 480px;
  }
</style>


<div class="container">
    {% for image in images %}
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
          <p><strong> Posted by : </strong> <a href="{% url 'users_page' user.id %}"><strong>{{ image.poster}}</strong></a></p>
          <p>{{ image.location }}</p>

           <div class="card border-secondary"><a href="{% url 'image' image.id %}">
            <img src="{{image.image.url}}" data-target="#imageModal{{image.id}}" data-toggle="modal" alt=""
              class="img-fluid" id="eachimage"></a>
          {% autoescape on %}
          <p><strong> Caption :</strong> {{ image.post | safe }}</p>
          {% endautoescape %}
          <p><strong>Category :</strong> {{ image.category }}</p>

          <br>
          <hr>
        </div>
    </div>
  </div>
{% endfor %}

</div>
<div class='footer'>
  <br>
<div class="container">

  <form action="{%url 'index'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm layout='inline' %}
    <input type="submit" value="Subscribe">
  </form>
</div>
<footer>
  <div class="container">
    <p>&copy; Instagram Clone 2019. All Rights Reserved.</p>
    
  </div>
</footer>
</div>
</div>
{% endblock %}