{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}

<div class="jumbotron text-center" style="background-color:white;">
     <img src="{{profile.profilepicture.url}}" class="img-thumbnail" id="eachimage1" style="height:200px;width:150px;"></a>
    <p style="font-family: 'Oswald', sans-serif;">{{profile.bio}}</p>
    </div>

<div class="container">
  <div class="card-columns">
    {% for image in images %}
    <div class = 'row'>
    <div class = 'col-md-4'>
    <div class="card border-secondary"><a href="{% url 'image' image.id %}">
        <img src="{{image.image.url}}" class="img-fluid" style="height: 280px; width: 280px;" id="eachimage"
          size="100px200"></a>
 <p style="font-family: 'Oswald', sans-serif;"> Caption : {{ image.description}}</p>
</div>
</div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}